  @font-face {
    font-family: "PT Sans";
    font-style: normal;
    font-weight: 400;
    src: url("../fonts/ptsans-400.woff2") format("woff2");
    font-display: swap;
  }

  @font-face {
    font-family: "PT Sans";
    font-style: normal;
    font-weight: 700;
    src: url("../fonts/ptsans-700.woff2") format("woff2");
    font-display: swap;
  }

  @font-face {
    font-family: "PT Sans";
    font-style: italic;
    font-weight: 400;
    src: url("../fonts/ptsans-400.woff2") format("woff2");
    font-display: swap;
  }

  @font-face {
    font-family: "PT Sans";
    font-style: italic;
    font-weight: 700;
    src: url("../fonts/ptsans-700.woff2") format("woff2");
    font-display: swap;
  }

html {
    height: 100%;
  }

body {
  display: flex;
  flex-direction: column;
  padding: 0 40px;
  min-height: 100%;
  margin: 0;
  font-family: "PT Sans", sans-serif;
  color: #000000;
  background-color: #ffffff;
  font-size: 16px;
  line-height: 24px;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  padding: 0;
  border: 0;
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.conteiner {
  width: 1200px;
  margin: 0 auto;
  padding: 0;
  background: #fff;
  box-shadow: 0 0 15px 5px rgba(0, 0, 0, 0.1);
}

.page-header {
  color: #000000;
  background-color: #ffffff;
}

.navigation {
  display: flex;
  width: 1200px;
  margin:  auto;
}

.page-header-logo {
  padding-left: 70px;
  padding-right: 44px;
}

.navigation-list {
  display: flex;
  align-items: center;
  width: 507px;
  margin: 0;
  padding: 0;
  list-style-type: none;
}

.navigation-link {
  padding-right: 32px;
  line-height: 24px;
  font-weight: 700;
  text-align: center;
  color: #000000;
  background-color: #ffffff;
  text-decoration: none;
  text-transform: capitalize;
}

.navigation-user {
  margin-right: 70px;
  max-width: 268px;
  margin-left: auto;
  align-items: center;
}

.navigation-user-item {
  width: 44px;
  height: 100%;
}

.navigation-user-search {
  padding-right: 0;
}

.navigation-user-heart {
  padding-right: 22px;
  margin:auto;

}

.navigation-item-want {
  width: 160px;
  height: 36px;
  align-items: center;
}

.navigation-link-want {
  text-align: center;
  text-transform: uppercase;
  text-decoration: none;
  font-family: "PT Sans";
  font-style: normal;
  font-weight: 700;
  width: 92px;
  height: 20px;
  color: #ffffff;
  background-color: #756157;
  padding: 8px 20px;
  border-radius: 4px;
}

.welcome {
  background-color: #ffffff;
  background-image: url("../images/welcome/band-welcome.png"), url("../images/welcome/background-welcome.jpg");
  background-position: -1px 451px, 0 -83px;
  background-size: 1202px 66px, 1200px 800px;
  background-repeat:no-repeat;
  text-align: center;
  margin: 0;
  padding-bottom: 44px; ;
}

.welcome-text {
  display: block;
  max-width: 460px;
  padding-top: 51px;
  padding-bottom: 70px;
  margin: 0 auto;
}

.main-container {
  flex-grow: 1;
}

.advantages {
  margin: 0 auto;
}

.main-title-1 {
  padding-top: 69px;
  margin: auto;
  font-style: normal;
  font-weight: 700;
  font-size: 30px;
  line-height: 36px;
  text-align: center;
  text-transform: uppercase;
  color: #000000;
  background-color: #ffffff;
  width: 620px;
  height: 72px;
}

.main-description-1 {
  margin: auto;
  padding-top: 25px;
  width: 651px;
  height: 26px;
  font-size: 22px;
  line-height: 26px;
  text-align: center;
  color: #333333;
}

.advantages-content {
  display: flex;

}

.advantages-item-1 {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background: #82B3D3;
  width: 400px;
  height: 385px;
  margin-top: 90px;
}

.flag {
  margin-top: 90px;
}

.advantages-title-1 {
  font-weight: 700;
  font-size: 24px;
  line-height: 28px;
  text-align: center;
  text-transform: uppercase;
  width: 33%;
  height: 56px;
  background: #81b3d2;
  color: white;
}

.advantages-description-1 {
  font-weight: 400;
  font-size: 18px;
  line-height: 21px;
  width: 230px;
  height: 63px;
  text-align: center;
  background: #81b3d2;
  color: white;
}

.advantages-item-2 {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background: rgba(131, 179, 211, 0.12);
  width: 400px;
  height: 385px;
}

.advantages-title-2 {
  font-weight: 700;
  font-size: 24px;
  line-height: 28px;
  text-align: center;
  text-transform: uppercase;
  width: 175px;
  height: 56px;
  color: #000000;
}

.advantages-description-2 {
  font-weight: 400;
  font-size: 18px;
  line-height: 21px;
  width: 67%;
  height: 42px;
  text-align: center;
  color: #333333;
}

.advantages-item-3 {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background: rgba(131, 179, 211, 0.2);
  width: 400px;
  height: 385px;
}

.advantages-title-3 {
  font-weight: 700;
  font-size: 24px;
  line-height: 28px;
  text-align: center;
  text-transform: uppercase;
  width: 175px;
  height: 56px;
  color: #000000;
}

.advantages-description-3 {
  font-weight: 400;
  font-size: 18px;
  line-height: 21px;
  width: 230px;
  height: 42px;
  text-align: center;
  color: #333333;
}

.advantages-item-4 {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background: rgba(131, 179, 211, 0.12);
  width: 400px;
  height: 385px;
}

.advantages-title-4 {
  font-weight: 700;
  font-size: 24px;
  line-height: 28px;
  text-align: center;
  text-transform: uppercase;
  width: 175px;
  height: 56px;
  color: #000000;
}

.advantages-description-4 {
  font-weight: 400;
  font-size: 18px;
  line-height: 21px;
  width: 230px;
  height: 42px;
  text-align: center;
  color: #333333;
}

.advantages-item-5 {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background: #82B3D3;
  width: 400px;
  height: 385px;
}

.advantages-title-5 {
  font-weight: 700;
  font-size: 24px;
  line-height: 28px;
  text-align: center;
  text-transform: uppercase;
  width: 175px;
  height: 56px;
  color: #ffffff;
}

.advantages-description-5 {
  font-weight: 400;
  font-size: 18px;
  line-height: 21px;
  width: 230px;
  height: 63px;
  text-align: center;
  color: #ffffff;
}

.main-title-2 {
  margin: auto;
  padding-top: 64px;
  font-style: normal;
  font-weight: 700;
  font-size: 30px;
  line-height: 36px;
  text-align: center;
  text-transform: uppercase;
  color: #000000;
  background-color: #ffffff;
  width: 505px;
  height: 72px;
}

.main-description-2 {
  margin: auto;
  padding-top: 20px;
  padding-bottom: 64px;
  width: 490px;
  height: 26px;
  font-size: 22px;
  line-height: 26px;
  text-align: center;
  color: #333333;
}

.advice-list {
  display: flex;
}

.advice-item-1 {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background: rgba(131, 179, 211, 0.12);
  width: 400px;
  height: 385px;
}

.advice-house {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 75px;
  height: 72px;
}

.advice-title-1 {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 230px;
  height: 28px;
  color: #000000;
  text-align: center;
  text-transform: uppercase;
  font-size: 24px;
  line-height: 28px;
}

.advice-description-1 {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 230px;
  height: 63px;
  font-size: 18px;
  line-height: 21px;
  text-align: center;
  color: #333333;
}

.advice-item-2 {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background: #ffffff;
  width: 400px;
  height: 385px;
}

.advice-food {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 74px;
  height: 70px;
}

.advice-title-2 {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 230px;
  height: 28px;
  color: #000000;
  text-align: center;
  text-transform: uppercase;
  font-size: 24px;
  line-height: 28px;
}

.advice-description-2 {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 230px;
  height: 63px;
  font-size: 18px;
  line-height: 21px;
  text-align: center;
  color: #333333;
}

.advice-item-3 {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background: rgba(131, 179, 211, 0.12);
  width: 400px;
  height: 385px;
}

.advice-gift {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 64px;
  height: 76px;
}

.advice-title-3 {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 230px;
  height: 28px;
  color: #000000;
  text-align: center;
  text-transform: uppercase;
  font-size: 24px;
  line-height: 28px;
}

.advice-description-3 {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 230px;
  height: 63px;
  font-size: 18px;
  line-height: 21px;
  text-align: center;
  color: #333333;
}

.appointment {
  background: #ffffff;
  width: 1200px;
  height: 406px;
}

.appointment-title {
  margin: auto;
  padding-top: 96px;
  width: 297px;
  height: 36px;
  font-size: 30px;
  line-height: 36px;
  text-align: center;
  text-transform: uppercase;
  color: #000000;
}

.appointment-list {
  margin: auto;
  text-align: center;
  padding-top: 20px;
  padding-bottom: 54px;
  width: 592px;
  height: 52px;
  font-size: 22px;
  line-height: 26px;
  color: #333333;
}

.form-title {
  margin: auto;
  padding-bottom: 96px;
  background-color: #756157;
  border-radius: 4px;
  width: 376px;
  height: 52px;
  align-items: center;
  padding: 8px 50px;
}

.form-apointment {
  margin: auto;
  text-transform: uppercase;
  align-items: center;
  width: 276px;
  height: 36px;
  color: #ffffff;
  font-size: 20px;
  line-height: 36px;
  text-decoration: none;
  padding: 8px 50px;
}

.newsletter {
  background-image: url("../images/mountine.jpg");
  background-size: 1200px 415px;
  background-repeat: no-repeat;
  text-align: center;
  width: 1200px;
  height: 415px;
}

.page-footer-title {
  padding-top: 96px;
  margin: auto;
  width: 404px;
  height: 36px;
  font-size: 30px;
  line-height: 36px;
  text-transform: uppercase;
  color: #ffffff;
}

.page-footer-info {
  margin: auto;
  padding-top: 20px;
  width: 475px;
  height: 52px;
  font-size: 22px;
  line-height: 26px;
  text-align: center;
  color: #ffffff;
}

.footer-conteiner {
  display: flex;
  justify-content: space-between;
  margin: 0;
  width: 1200px;
}

.footer-block {
  display: flex;
  width: 1200px;
  height: 120px;
  justify-content: space-between;
  padding: 40px 70px 30px;
}

.footer-social-list {
  display: flex;
  list-style-type: none;
  width: 142px;
  justify-content: space-around;
}

.footer-contacts {
  background-color: #FFFFFF;
}

.footer-contacts-address-phone {
  font-size: 40px;
  line-height: 40px;
  width: 331px;
  height: 40px;
  text-align: center;
  text-transform: uppercase;
  color: #000000;
  text-decoration: none;
}

/* КАТАЛОГ */

.page-catalog {
  display: flex;
  flex-direction: column;
  margin: 0;
}

.inner-header {
  display: flex;
  flex-direction: column;
  background-image: url("../images/header/9d5676e3063a00e18d273b8f0e8926ea.jpeg");
  background-repeat: no-repeat;
  color:#FFFFFF;
  width: 1200px;
  padding-left: 70px;
  height: 412px;;
}

.inner-header-title {
  margin: 0;
  padding-top: 35px;
  font-size: 60px;
  line-height: 78px;
  color: #FFFFFF;
  padding-bottom: 8px;
}

.first {
  display: flex;
}

.breadcrumbs {
  padding-left: 0;
  padding-right: 11px;
}

.breadcrumbs-item {
  list-style-type: none;
}

.breadcrumbs-link-hotels {
  font-size: 16px;
  line-height: 21px;
  width: 73px;
  height: 21px;
  color: #FFFFFF;
}

.catalog-products {
  display: flex;
  width: 1060px;
}

.filter-list {
  justify-content: flex-start;
  margin: 0;
}

.catalog-filter {
  display: flex;
  margin: 0;
  justify-content: space-around;
  padding-top: 40px;
}

.catalog-filter-group {
  margin: 0;
  padding: 0;
  border: 0;
  padding-right: 70px;
}

.catalog-filter-list {
  list-style-type: none;
  padding-left: 0;
}

.button-filter-all {
  display: flex;
  justify-content: end;
  flex-direction: column;
  margin-left: auto;
  width: 191px;
}

.button-filter-first-block {
  align-items: center;
  text-align: center;
  background-color: #82B3D3;
  border-radius: 4px;
  border: none;
}

.button-filter-first {
  text-transform: uppercase;
  text-decoration: none;
  font-family: "PT Sans";
  font-style: normal;
  font-weight: 700;
  color: #ffffff;
  border: none;
  background-color: #82B3D3;
}

.button-filter-second {
  border: none;
}

.sorting {
  display: flex;
  flex-direction: column;
  background-color: #ffffff;
  color: #000000;
  width: 1060px;
  padding: 50px 70px;
}

.catalog-sorting {
  display: flex;
  gap: 70px;
}

.different-menu {
  display: flex;
  gap: 8px;
}

.sorting-list {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.found {
  display: flex;
  margin: 0;
  justify-content: space-around;
  font-size: 30px;
  line-height: 36px;
  color: #000000;
  text-transform: uppercase;
  width: 338px;
  height: 36px;
}

.select-control {
  align-items: center;
  padding: 14px 20px;
  gap: 94px;
  width: 292px;
  height: 49px;
  border: 2px solid #E5E5E5;
  border-radius: 4px;
}

.product-list {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  flex-wrap: wrap;
  padding-top: 40px;
}

.product-cart-title {
  font-size: 24px;
  line-height: 28px;
  text-decoration: none;
  width: 300px;
  height: 28px;
  color: #000000;
}

.product-cart-price {
  font-size: 18px;
  line-height: 21px;
  width: 140px;
  height: 21px;
  color: #333333;
}

.product-cart-button-1 {
  background-color: #756157;
  color: #ffffff;
  text-transform: uppercase;
  text-decoration: none;
  width: 140px;
  height: 36px;
  gap: 10px;
}

.product-cart-button-2 {
  background-color: #82B3D3;
  color: #ffffff;
  text-transform: uppercase;
  text-decoration: none;
  width: 140px;
  height: 36px;
  gap: 10px;
}

.product-cart-button-3 {
  background-color: #7DB54F;
  color: #ffffff;
  text-transform: uppercase;
  text-decoration: none;
  width: 140px;
  height: 36px;
  gap: 10px;
}

.rating {
  background-color: #F2F2F2;
  color: #333333;
  text-transform: uppercase;
  text-decoration: none;
  width: 140px;
  height: 37px;
}

.pagination-container {
  display: flex;
  padding: 16px;
  background-color: #ffffff;
}


.pagination {
  display: flex;
  margin: 0;
  padding: 0;
  list-style-type: none;
}

.pagination-item:not(:last-child) {
  margin-right: 8px;
}

.pagination-link {
  display: block;
  box-sizing: border-box;
  width: 50px;
  height: 44px;
  padding: 14px 20px;
  line-height: 16px;
  font-weight: 700;
  color: #ffffff;
  background-color: #82B3D3;
  text-decoration: none;
}

.newsletter-catalog {
  background-repeat: no-repeat;
  background-size: 1200px 415px;
  text-align: center;
  width: 1200px;
  height: 415px;
  padding-top: 156px;
  }


.page-footer-title-catalog {
  margin: auto;
  width: 404px;
  height: 36px;
  font-size: 30px;
  line-height: 36px;
  text-transform: uppercase;
  color: #000000;
}

.page-footer-info-catalog {
  margin: auto;
  width: 475px;
  height: 52px;
  font-size: 22px;
  line-height: 26px;
  text-align: center;
  color: #333333;
}
