@font-face {
  font-family: "PT Sans";
  font-style: normal;
  font-weight: 400;
  src: url("../fonts/ptsans-400.woff2") format("woff2");
  font-display: swap;
}

@font-face {
  font-family: "PT Sans";
  font-style: normal;
  font-weight: 700;
  src: url("../fonts/ptsans-700.woff2") format("woff2");
  font-display: swap;
}

html {
  height: 100%;
}

body {
  height: 100%;
  font-family: "PT Sans", Arial, sans-serif;
  font-size: 18px;
  line-height: 21px;
  text-align: center;
  margin: 0;
  color: #000000;
  background-color: #f2f2f2;
}

.link {
  text-decoration: none;
  text-align: center;
}

.headings {
  margin-top: 0;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  padding: 0;
  border: 0;
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.wrap {
  width: 1200px;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  min-height: 100%;
  background-color: #ffffff;
  flex-grow: 1;
  box-shadow: 0 0 15px 0 rgb(0 0 0 / 20%);

}

.button {
  cursor: pointer;
  font-family: "PT Sans", Arial, sans-serif;
  font-weight: 700;
  text-transform: uppercase;
  text-decoration: none;
  color: #000000;
  background-color: #ffffff;
  border: none;
  border-radius: 4px;
  -webkit-transition: background-color 0.3s;
  -o-transition: background-color 0.3s;
  transition: background-color 0.3s;
}

.button-brown {
  cursor: pointer;
  font-family: "PT Sans", Arial, sans-serif;
  font-weight: 700;
  text-transform: uppercase;
  text-decoration: none;
  color: #ffffff;
  background-color: #756157;
  border: none;
  border-radius: 4px;
  -webkit-transition: background-color 0.3s;
  -o-transition: background-color 0.3s;
  transition: background-color 0.3s;
}

.button-blue {
  cursor: pointer;
  font-family: "PT Sans", Arial, sans-serif;
  font-weight: 700;
  text-transform: uppercase;
  text-decoration: none;
  color: #ffffff;
  background-color: #82b3d3;
  border: none;
  border-radius: 4px;
  -webkit-transition: background-color 0.3s;
  -o-transition: background-color 0.3s;
  transition: background-color 0.3s;
}

.button:not(.pagination-link):hover,
.button:not(.pagination-link):not(.button-cancel):focus {
  color: rgba(255, 255, 255, 0.6);
  outline: none;
}

.button:focus {
  outline: none;
}

.button-brown:hover:not(:disabled),
.button-brown:focus-visible {
  background-color: #615048;
  outline: none;
}

.button-blue:hover:not(:disabled),
.button-blue:focus-visible {
  background-color: #68A2CA;
  outline: none;
}

.button-brown:active:not(:disabled) {
  color: rgba(255, 255, 255, 0.3)
}

.button-blue:active:not(:disabled) {
  color: rgba(255, 255, 255, 0.3)
}

.button:disabled,
.button-blue:disabled,
.button-brown:disabled {
  cursor: default;
  opacity: 0.4;
}

.slogan-wrapper {
  padding: 96px 304px;
}

.slogan-wrapper-headline {
  margin: 0;
  font-size: 30px;
  font-weight: 700;
  line-height: 36px;
  text-transform: uppercase;
}

.slogan-wrapper-desc {
  display: inline-block;
  margin: 0;
  margin-top: 20px;
  font-size: 22px;
  line-height: 26px;
}

.main-index {
  text-align: center;
  line-height: 21px;
}

.navigation {
  display: flex;
  width: 1060px;
  margin: 0 auto;
}

.navigation-list {
  display: flex;
  flex-wrap: wrap;
  width: 450px;
  margin: 0;
  padding: 0;
  list-style-type: none;
  align-items: center;
  margin-right: auto;
}

.navigation-list-user {
  margin: 0;
  max-width: 330px;
  justify-content: flex-end;
}

.navigation-list-user li:last-child {
  margin-left: 20px;
}

.navigation-logo {
  position: relative;
  display: flex;
  width: 139px;
  margin-bottom: -5px;
  margin-right: 30px;
}

.navigation-item {
  position: relative;
}

.navigation-link {
  display: block;
  position: relative;
  padding: 20px 16px 19px;
  font-size: 20px;
  line-height: 26px;
  font-weight: 700;
  text-align: center;
  color: inherit;
  background-color: inherit;
}

.navigation-link:hover {
  color: #756257;
}

.navigation-link:active {
  color: #7562574D;
}

.navigation-link-current::after {
  position: absolute;
  right: 17px;
  bottom: 0;
  margin-bottom: -1px;
  left: 17px;
  height: 2px;
  background-color: #756257;
  content: "";
}

.navigation-user .navigation-link {
  min-width: 18px;
  min-height: 18px;
  padding: 24px 12px;
}

.navigation-icon {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  margin: auto;
  fill: #000000;
}

.navigation-icon:hover {
  fill: #756257;
}

.navigation-icon:active {
  fill: #7562574D;
}

.navigation-link:active .count {
  opacity: 0.3;
}

.count-favorites {
  position: absolute;
  top: 11px;
  left: 20px;
  min-width: 20px;
  height: 20px;
  text-align: center;
  background-color: #7DB54F;
  border-radius: 50%;
}

.count {
  display: block;
  font-family: "PT Sans", sans-serif;
  font-weight: 400;
  font-size: 10px;
  color: #ffffff;
  line-height: 13px;
  margin-top: 3.5px;
}

.button {
  display: inline-block;
  font-family: "PT Sans", sans-serif;
  font-size: 16px;
  line-height: 21px;
  font-weight: 700;
  color: #FFFFFF;
  text-transform: uppercase;
  border: none;
  cursor: pointer;
  border-radius: 4px;
  box-sizing: border-box;
  padding-top: 8px;
  padding-bottom: 8px;
}

.button:active {
  color: rgba(255, 255, 255, 0.3);
}

.navigation-link.button-grey {
  padding-left: 15px;
  padding-right: 15px;
  border-radius: 4px;
  font-size: 16px;
  line-height: 20px;
  width: 160px;
}

.button-grey {
  background-color: #756257;
}

.button-grey:hover {
  background-color: #615048;
  color: #FFFFFF;
}

.button-grey:focus {
  outline: 3px solid #83B3D3;
}

.button-grey:active {
  border: none;
  color: #FFFFFF4D;
}

.welcome {
  padding-bottom: 0;
}

.welcome-split {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #476b86;
  background-image: url("../images/welcome/background-welcome.jpg");
  width: 1200px;
  background-repeat: no-repeat;
  padding-top: 51px;
  margin-bottom: 69px;
}

.vector-welcome {
  margin-bottom: 25px;
}

.welcome-split::after {
  content: url("../images/welcome/band-welcome.png");
  width: 1200px;
  height: 57px;
  margin-top: auto;
}


.slogan {
  display: inline-block;
  font-size: 30px;
  line-height: 36px;
  font-weight: 700;
  text-transform: uppercase;
  background-color: inherit;
  margin: 0 auto 25px;
}

.slogan-2 {
  font-size: 22px;
  line-height: 26px;
  font-weight: inherit;
  color: #333333;
  margin: 0;
  padding: 0;
}

.advantages {
  padding-top: 90px;
}

.advantages-list {
  display: -ms-grid;
  display: grid;
  grid-template-columns: repeat(3, calc(100% / 3));
  margin: 0;
  padding: 0;
  list-style: none;
}

.advantages-list__item {
  position: relative;
  width: 100%;
  min-height: 385px;
  padding: 102px 85px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

.advantages-list__wrapper {
  -ms-grid-column-span: 3;
  grid-column: 3 span;
  display: -ms-grid;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
}

.advantages-list__image {
  -ms-grid-column-span: 2;
  grid-column: 2 span;
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

.advantages-list__item-title,
.advantages-list__item-desc {
  display: inline-block;
  margin: 0;
  text-align: center;
}

.advantages-list__item-title {
  font-size: 24px;
  font-weight: 700;
  line-height: 28px;
  text-transform: uppercase;
}

.advantages-list__item-desc {
  font-size: 18px;
  line-height: 21px;
}

.advantages-list .advantages-list__item {
  padding: 112.5px 85px;
}

.advantages-list .advantages-list__item-title {
  position: relative;
  display: block;
  margin: 0 auto;
  margin-bottom: 62px;
  min-height: 56px;
  max-width: 172px;
}

.advantages-list .advantages-list__item-title::after {
  position: absolute;
  bottom: -32px;
  left: 50%;
  -webkit-transform: translateX(-50%);
      -ms-transform: translateX(-50%);
          transform: translateX(-50%);
  content: "";
  width: 60px;
  height: 2px;
  background-color: rgba(0, 0, 0, 0.3);
}

.advantages-list__item:nth-child(odd) {
  background-color: rgba(131, 179, 211, 0.2);
}

.advantages-list__item:nth-child(even) {
  background-color: rgba(131, 179, 211, 0.12);
}

.advantages-list__wrapper .advantages-list__item {
  padding: 102px 85px;
  color: #ffffff;
  background-color: #82B3D3;
}

.advantages-list__wrapper .advantages-list__item-title::after{
  background-color: rgba(255, 255, 255, 0.3);
}

.come-to-sedona {
  margin: auto;
}

.main-title {
  margin: auto;
  padding-top: 64px;
  font-style: normal;
  font-weight: 700;
  font-size: 30px;
  line-height: 36px;
  text-align: center;
  text-transform: uppercase;
  color: #000000;
  background-color: #ffffff;
  width: 505px;
  height: 72px;
}

.main-description {
  margin: auto;
  padding-top: 20px;
  padding-bottom: 64px;
  width: 490px;
  height: 26px;
  font-size: 22px;
  line-height: 26px;
  text-align: center;
  color: #333333;
}

.advices {
  position: relative;
  display: flex;
  flex-direction: column;
  width: 400px;
  padding-top: 184px;
  background-color: #83B3D31F;
  color: #333333;
}

.advices-title-housing::before {
  content: url(../images/advice/house.svg);
  top: 79px;
}

.advices-title-eat::before {
  content: url(../images/advice/food.svg);
  top: 81px;
}

.advices-title-gifts::before {
  content: url(../images/advice/gift.svg);
  top: 79px;
}

.advices-title-housing::before,
.advices-title-eat::before,
.advices-title-gifts::before {
  position: absolute;
  left: 0;
  right: 0;
}

.advices-title {
  margin: 0;
  margin-bottom: 28px;
  font-size: 24px;
  line-height: 28px;
  text-transform: uppercase;
  color: #000000;
}

.advices:nth-child(2n) {
  background-color: #ffffff;
}

.advices-description {
  margin: 0;
  margin-bottom: 78px;
  font-size: 18px;
}

.search-hotel {
  display: flex;
  flex-direction: column;
  margin: 0 auto;
  padding-top: 91px;
  width: 1200px;
}

.interesting {
  font-size: 30px;
  line-height: 36px;
  color: #000000;
  background-color: #FFFFFF;
  margin-bottom: 29px;
  text-transform: uppercase;
}

.search-description {
  margin: 0;
  margin-bottom: 56px;
  padding: 0;
  font-size: 22px;
  line-height: 26px;
  color: #333333;
  background-color: inherit;
}

.button-search {
  width: 575px;
  margin: 0 auto;
  padding-top: 12px;
  padding-bottom: 12px;
  margin-bottom: 93px;
  border-radius: 10px;
}

.search-hotel .button-grey {
  font-size: 20px;
  line-height: 36px;
}

.hotel-search .slogan-wrapper-desc {
  margin-top: 20px;
}

.search-hotel-button {
  cursor: pointer;
  display: inline-block;
  margin-top: 54px;
  padding: 8px 50px;
  font-size: 20px;
  line-height: 36px;
}

.modal-container {
  position: fixed;
  top: 0;
  left: 0;
  display: flex;
  width: 100%;
  height: 100%;
  background-color: rgba(242, 242, 242, 0.8);
  z-index: 2;

}

.modal-container-close {
  display: none;
}

.modal {
  position: relative;
  margin: auto;
  padding: 64px 70px;
  background-color: #ffffff;
}

.modal-search-hotel {
  width: 577px;
  border-radius: 30px;
}

.modal-close-button {
  position: absolute;
  padding: 0;
  left: 613px;
  top: 64px;
  width: 52px;
  height: 52px;
  background-color: #f2f2f2;
  border: none;
  border-radius: 50%;
  background-image: url("../images/popup/close.svg");
  background-repeat: no-repeat;
  background-position: center;
  cursor: pointer;
}

.modal-title {
  margin: 0;
  margin-bottom: 64px;
  font-family: "PT Sans", sans-serif;
  font-weight: 700;
  font-size: 30px;
  line-height: 36px;
  color: #000000;
  text-transform: uppercase;
  text-align: left;
}

.form-label {
  font-family: "PT Sans", sans-serif;
  font-weight: 700;
  font-size: 20px;
  line-height: 24px;
  color: #000000;
}

.form-label-children {
  font-family: "PT Sans", sans-serif;
  font-weight: 700;
  font-size: 20px;
  line-height: 24px;
  color: #000000;
}

.tooltip {
  position: absolute;
  margin-left: 10px;
}

.tooltip-toggle {
  border: none;
  padding: 0;
  margin: 0;
  display: block;
  background-color: #83B3D3;
  width: 26px;
  height: 26px;
  border-radius: 50%;
}

.tooltip-icon {
  width: 2px;
  height: 12px;
  color: #ffffff;
}

.tooltip-toggle:hover .tooltip-icon {
  color: #000000;
}

.tooltip-text {
  background-color: #333333;
  color: #ffffff;
  font-family: "PT Sans", sans-serif;
  font-size: 16px;
  line-height: 20px;
  font-weight: 400;
  text-transform: none;
  text-align: start;
  padding-top: 20px;
  padding-right: 18px;
  padding-bottom: 18px;
  padding-left: 22px;
  border-radius: 10px;
  display: block;
  width: 215px;
  box-shadow: 0 15px 30px rgba(0, 0, 0, 0.3);
  position: absolute;
  top: 41px;
  left: 50%;
  transform: translateX(-50%);
}

.tooltip-toggle:hover + .tooltip-text,
.tooltip-toggle:focus + .tooltip-text {
  display: block;
}

.form-label-icon {
  position: relative;
  padding-right: 26px;
}

.tooltip-text:after {
  content: "";
  background-image: url("../images/popup/tooltip-arrow.svg");
  width: 19px;
  height: 9px;
  position: absolute;
  bottom: 100%;
  left: 0;
  right: 0;
  margin-top: 6px;
  margin-left: auto;
  margin-right: auto;
}

.form-input {
  background-color: #f2f2f2;
  background-image: url("../images/popup/calendar.svg");
  margin-bottom: 4px;
  width: 440px;
  border: none;
  border-radius: 4px;
  min-height: 48px;
  box-sizing: border-box;
  padding-left: 20px;
  font-family: "PT Sans", sans-serif;
  font-weight: 700;
  font-size: 18px;
  line-height: 24px;
  color: #000000;
  background-repeat: no-repeat;
  background-position: right 22px center;
}


.inputs-wrapper {
  display: flex;
  align-items: center;
  margin-bottom: 48px;

}

.adults-input {
  width: 31px;
  height: 48px;
  background-color: #f2f2f2;
  border: none;
  text-align: center;
  font-family: "PT Sans", sans-serif;
  font-weight: 700;
  font-size: 18px;
  line-height: 20px;
  color: #000000;

}

.adults-input::-webkit-outer-spin-button,
.adults-input::-webkit-inner-spin-button {
  -webkit-appearance: none;
}

.children-input::-webkit-outer-spin-button,
.children-input::-webkit-inner-spin-button {
  -webkit-appearance: none;
}

.adults-input-wrapper {
  display: flex;
  width: 110px;
  margin-left: 46px;
  margin-right: 88px;
}

.minus {
  width: 40px;
  border: none;
  background-color: #f2f2f2;
  background-image: url("../images/popup/minus.svg");
  background-repeat: no-repeat;
  background-position: center;
  cursor: pointer;
  border-radius: 4px 0 0 4px;

}

.plus {
  width: 40px;
  border: none;
  background-color: #f2f2f2;
  background-image: url("../images/popup/plus.svg");
  background-repeat: no-repeat;
  background-position: center;
  cursor: pointer;
  border-radius: 0 4px 4px 0;
}

.form-error-text {
  margin: 0;
  margin-left: 137px;
  padding: 0 20px;
  margin-bottom: 22px;
  font-family: "PT Sans", sans-serif;
  font-weight: 400;
  font-size: 16px;
  line-height: 21px;
  color: #ff5757;
  text-align: center;
}

.form-success-text {
  margin: 0;
  margin-left: 137px;
  padding: 0 20px;
  margin-bottom: 22px;
  font-family: "PT Sans", sans-serif;
  color: #333333;
  font-weight: 400;
  font-size: 16px;
  line-height: 21px;
  text-align: center;
}

.children-input-wrapper {
  display: flex;
  margin-left: auto;
}

.children-input {
  width: 31px;
  height: 48px;
  background: #F2F2F2;
  border: none;
  text-align: center;
  font-family: "PT Sans", sans-serif;
  font-weight: 700;
  font-size: 18px;
  line-height: 20px;
}

.modal-search-button {
  display: inline-block;
  width: 100%;
  font-family: "PT Sans", sans-serif;
  font-size: 20px;
  line-height: 24px;
  padding: 18px 77px;
  background-color: #83B3D3;
  min-height: 60px;
  border-radius: 10px;
  text-align: center;
  border: none;
  text-transform: uppercase;
  color: #ffffff;
  cursor: pointer;
}

.arrival-wrapper {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  align-items: center;
}

.departure-wrapper {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  align-items: center;
}

.modal-search-button:hover {
  background-color: #68A2CA;
}

.modal-search-button:focus {
  background-color: #68A2CA;
}

.modal-search-button:active .modal-button-text {
  opacity: 0.3;
}

.modal-close-button:hover {
  background-color: #c0c0c0;
}

.modal-close-button:focus {
  background-color: #c0c0c0;
}

.modal-close-button:active {
  background-color: #dcdcdc;
}

.form-input:hover {
  background-color: #E6E6E6;
  border-radius: 4px;
}

.form-input:focus {
  background-color: #E6E6E6;
  border: 3px solid #83B3D3;
  border-radius: 4px;
}

.form-input:active {
  background-color: #E6E6E6;
  border: 3px solid #000000;
  border-radius: 4px;
}

.form-input:focus-visible {
  outline: none;
}


.form-input::placeholder {
  color: #000000;
  opacity: 0.6;
}

.minus:hover {
  background-color: #c0c0c0;
}

.minus:focus {
  background-color: #c0c0c0;
}

.minus:active {
  background-color: #dcdcdc;
}

.plus:hover {
  background-color: #c0c0c0;
}

.plus:focus {
  background-color: #c0c0c0;
}

.plus:active {
  background-color: #dcdcdc;
}

.adults-input:hover {
  color: #83b3d3;
}

.adults-input:focus {
  color: #83b3d3;
}

.adults-input:active {
  background-color: #dcdcdc;
}

.children-input:hover {
  color: #83B3D3;
}

.children-input:focus {
  color: #83B3D3;
}

.children-input:active {
  background-color: #dcdcdc;
}

.email-subscription {
  margin-top: 2px;
  padding: 96px 258px 104px;
}

.main-email-subscription {
  background-color: #7fc7ff;
  background-image: url("../images/background-newsletter.jpg");
  background-repeat: no-repeat;
  color: #ffffff;
  background-size: cover;
}

.inner-email-subscription {
  margin-top: 23px;
  padding: 96px 258px 104px;
}

.inner-email-subscription .field {
  background-color: #F2F2F2;
}

.email-subscription .slogan-wrapper-headline {
  display: inline-block;
  text-align: center;
  margin: 0 auto 20px;
}

.email-subscription .slogan-wrapper-desc {
  display: inline-block;
  max-width: 475px;
  margin: 0 auto 54px;
  text-align: center;
}

.newsletter-form {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 452px 232px;
  grid-template-columns: 452px 232px;
  -ms-grid-rows: minmax(52px, -webkit-max-content);
  -ms-grid-rows: minmax(52px, max-content);
  grid-template-rows: minmax(52px, -webkit-max-content);
  grid-template-rows: minmax(52px, max-content);
  font-family: "PT Sans", Arial, sans-serif;
}

.newsletter-form > *:nth-child(1) {
  -ms-grid-row: 1;
  -ms-grid-column: 1;
}

.newsletter-form > *:nth-child(2) {
  -ms-grid-row: 1;
  -ms-grid-column: 2;
}

.newsletter-form .field {
  position: relative;
  padding: 0;
  padding-left: 20px;
  font-size: 18px;
  line-height: 24px;
  font-family: inherit;
  border-width: 0;
  border-radius: 4px 0 0 4px;
  -webkit-transition: background-color 0.6s;
  -o-transition: background-color 0.6s;
  transition: background-color 0.6s;
}

.newsletter-form .field:hover {
  background-color: #e6e6e6;
}

.newsletter-form .field:focus {
  outline: 3px solid #82B3D3;
  outline-offset: -3px;
}

.newsletter-form .newsletter-button {
  padding: 0;
  font-size: 20px;
  line-height: 36px;
  border-width: 0;
  border-radius: 0 4px 4px 0;
  color: #ffffff;
}

.newsletter-button {
  background-color: #83B3D3;
}

.newsletter-button:hover {
  background-color: #68A2CA;
}


.newsletter-button:active {
  background-color: #68A2CA;
}

.newsletter-button:focus:not(.button-filter) {
  outline: 3px solid #756257;
}

.page-footer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 40px 70px 30px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

.page-footer svg {
  display: block;
}

.social-button:hover path {
  fill: #68A2CA;
}

.social-button:focus-visible path {
  fill: #68A2CA;
}

.social-button:focus-visible {
  outline: none;
}

.social-svg:active path {
  fill: rgba(104, 162, 202, 0.3);
}

.footer-social {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  list-style: none;
  padding: 0;
  margin: 0;
  height: 100%;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.footer-social .footer-social__item {
  display: inline-block;
  height: 49px;
}

.footer-social .social-button {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 47px;
  height: 100%;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.footer-telephone {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  max-width: 450px;
  min-height: 50px;
  font-size: 40px;
  line-height: 40px;
  color: #000000;
  text-decoration: none;
}

.footer-telephone:hover,
.footer-telephone:focus {
  color: #756157;
  outline: none;
}

.footer-telephone:active {
  color: rgba(117, 97, 87, 0.3);
}

.footer-copyright {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  height: 48px;
}

.footer-copyright-img:hover path {
  fill: #756157;
}

.footer-copyright:focus-visible path {
  fill: #756157;
}

.footer-copyright:focus-visible {
  outline: none;
}

.footer-copyright:active path {
  fill: rgba(117, 97, 87, 0.3);
}

.inner-header {
  background-color: #5b6259;
  background-image: url("../images/header/background-catalog.jpeg");
  background-repeat: no-repeat;
  position: relative;
  margin: 0;
  padding: 35px 70px 70px;
  text-align: left;
  color: #ffffff;
  background-size: cover;
}

.inner-header-wrapper {
  margin-bottom: 40px;
}

.inner-header-title {
  margin: 0;
  margin-bottom: 8px;
  font-size: 60px;
  font-weight: 700;
  line-height: 78px;
}

.breadcrumbs {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  list-style: none;
  padding: 0;
  margin: 0;
  height: 21px;
}

.breadcrumbs-item {
  height: 100%;
}

.breadcrumbs-link {
  height: 100%;
  font-size: 16px;
  line-height: 21px;
  color: inherit;
  text-decoration: none;
}

.breadcrumbs-item:not(:last-child) .breadcrumbs-link:hover {
  opacity: 0.6;
}

.breadcrumbs-item:not(:last-child) .breadcrumbs-link:active {
  opacity: 0.3;
}

.breadcrumbs-item:not(:last-child) {
  position: relative;
  margin-right: 28.5px;
}

.breadcrumbs-item:last-child .breadcrumbs-link {
  cursor: default;
}

.breadcrumbs-item:first-child a {
  display: inline-block;
  width: 12px;
  height: 100%;
  background: url("../images/home.svg") no-repeat 50% 50%;
}

.breadcrumbs-item:not(:last-child)::after {
  position: absolute;
  content: "";
  right: -20px;
  width: 8px;
  height: 21px;
  background: url("../images/arrow.svg") no-repeat;
  background-position: 50% 50%;
}

.catalog-filter {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: auto 140px auto;
  grid-template-columns: auto auto;
  gap: 140px;
}

.catalog-filter fieldset {
  margin: 0;
  padding: 0;
  border: none;
}

.filters-group {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 151px 70px 151px;
  grid-template-columns: 151px 151px;
  gap: 70px;
}

.filters-group:last-child {
  -ms-grid-columns: 288px 191px;
  grid-template-columns: 288px 191px;
}

.catalog-filter-group .catalog-filter-list {
  list-style: none;
  margin: 0;
  padding: 0;
}

.catalog-filter-title {
  padding: 0;
  margin-bottom: 32px;
  font-size: 20px;
  font-weight: 700;
  line-height: 24px;
  text-transform: capitalize;
}

.control {
  position: relative;
  cursor: pointer;
  display: block;
  margin: 0;
  padding: 0;
  padding-left: 36px;
  font-size: 18px;
  line-height: 23px;
}

.control-mark {
  content: "";
  position: absolute;
  left: 0;
  top: 50%;
  -webkit-transform: translateY(-50%);
      -ms-transform: translateY(-50%);
          transform: translateY(-50%);
  width: 20px;
  height: 20px;
  border-radius: 4px;
  background-color: #ffffff;
}

.control:hover {
  opacity: 0.7;
}

.control input:focus + .control-mark {
  outline: 3px solid #83B3D3;
}

.control:active {
  opacity: 0.4;
}

.control:has(.control-checkbox:disabled) {
  cursor: default;
  opacity: 0.3;
}

.control-checkbox:checked + .control-mark::before {
  position: absolute;
  top: 5px;
  left: 50%;
  -webkit-transform: translateX(-50%);
      -ms-transform: translateX(-50%);
          transform: translateX(-50%);
  content: "";
  width: 12.2px;
  height: 10px;
  background: url("../images/check-mark.svg") no-repeat;
}

.catalog-filter-item:not(:last-of-type) .control {
  margin-bottom: 16px;
}

.control-radio + .control-mark {
  border-radius: 50%;
}

.control-radio:checked + .control-mark::before {
  position: absolute;
  top: 5px;
  left: 50%;
  -webkit-transform: translateX(-50%);
      -ms-transform: translateX(-50%);
          transform: translateX(-50%);
  width: 10px;
  height: 10px;
  border-radius: 50%;
  background-color: #3F5E72;
  content: "";
}

.catalog-price-range {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.range-wrapper-inputs {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-bottom: 41px;
}

.range-label {
  position: relative;
}

.range-label span {
  position: absolute;
  top: 50%;
  -webkit-transform: translateY(-50%);
      -ms-transform: translateY(-50%);
          transform: translateY(-50%);
  right: 20px;
  color: #AAAAAA;
}

.range-wrapper-inputs input {
  -webkit-appearance: none;
          appearance: none;
  -moz-appearance: textfield;
  width: 143px;
  height: 48px;
  padding: 12px 20px;
  padding-right: 40px;
  font-family: inherit;
  font-weight: 700;
  font-size: 18px;
  line-height: 24px;
  border: none;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

.range-wrapper-inputs input:hover {
  opacity: 0.9;
}

.range-wrapper-inputs input:focus {
  outline: 3px solid #83B3D3;
  z-index: 3;
}

.range-wrapper-inputs input[type="number"]::-webkit-inner-spin-button,
.range-wrapper-inputs input[type="number"]::-webkit-outer-spin-button {
  appearance: none;
  -moz-appearance: textfield;
  -webkit-appearance: none;
  margin: 0;
}

.range-label:first-child .range-field {
  margin-right: 2px;
  border-radius: 4px 0 0 4px;
}

.range-label:last-child .range-field {
  border-radius: 0 4px 4px 0;
}

.range-scale {
  position: relative;
  min-height: 4px;
  width: 285px;
  margin-bottom: 11px;
}

.range-scale input[type="range"] {
  -webkit-appearance: none;
  -moz-appearance: none;
       appearance: none;
  height: 4px;
  width: 285px;
  position: absolute;
  background-color: #5E676C;
  pointer-events: none;
}

.range-scale input[type=range]::-webkit-slider-thumb {
  -webkit-appearance: none;
  pointer-events: all;
  width: 20px;
  height: 20px;
  background-color: #fff;
  border-radius: 5px;
  -webkit-box-shadow: 0 0 0 1px #C6C6C6;
          box-shadow: 0 0 0 1px #C6C6C6;
  cursor: pointer;
}

.range-scale input[type=range]::-moz-range-thumb {
  -webkit-appearance: none;
  pointer-events: all;
  width: 20px;
  height: 20px;
  background-color: #fff;
  border-radius: 5px;
  box-shadow: 0 0 0 1px #C6C6C6;
  cursor: pointer;
}

.range-scale input[type=range]::-webkit-slider-thumb:hover {
  background: #f7f7f7;
}

.range-scale input[type=range]::-webkit-slider-thumb:active {
  box-shadow: inset 0 0 3px #387bbe, 0 0 9px #387bbe;
  -webkit-box-shadow: inset 0 0 3px #387bbe, 0 0 9px #387bbe;
}

#range-scale__from {
  height: 0;
  top: 2px;
  z-index: 1;
}

.catalog-filter-buttons-group {
  margin-top: 56px;
}

.catalog-filter-buttons-group button {
  width: 191px;
  padding: 8px 3px;
  text-align: center;
  font-size: 16px;
  line-height: 20px;
  border: none;
}

.button-accept {
  margin-bottom: 32px;
}

.button-cancel {
  color: #ffffff;
  background-color: transparent;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

.button-cancel:hover:not(:disabled) {
  opacity: 0.7;
}

.button-cancel:focus-visible:not(:disabled) {
  outline: 3px solid #83B3D3;
}

.button-cancel:active:not(:disabled) {
  opacity: 0.5;
}

.button-cancel:disabled {
  opacity: 0.3;
}

.search-results {
  padding: 50px 70px 37px;
  text-align: left;
}

.search-results-options {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-bottom: 40px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.options-title {
  margin: 0;
  font-size: 30px;
  font-weight: 700;
  line-height: 36px;
  text-transform: uppercase;
}

.options-select {
  cursor: pointer;
  -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none;
  min-height: 49px;
  width: 292px;
  margin-left: 200px;
  margin-right: 10px;
  padding: 12px 40px 12px 20px;
  font-family: inherit;
  font-size: 18px;
  line-height: 21px;
  border: 2px solid #E5E5E5;
  border-radius: 4px;
  background-color: #ffffff;
  background-image: url(../images/dropdown.svg);
  background-repeat: no-repeat;
  background-position: right 20px center;
}

.options-select:hover,
.options-select:focus {
  border-color: #68A2CA;
  outline: none;
}

.options-select:disabled {
  cursor: default;
  border-color: #000000;
  opacity: 0.3;
}

.options-buttons-group {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  list-style: none;
  margin: 0;
  padding: 0;
  margin-left: auto;
}

.option-buttons__item:not(:last-child) {
  margin-right: 8px;
}

.option-buttons__item .button {
  display: block;
  width: 48px;
  height: 48px;
  border: 2px solid #E5E5E5;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

.option-buttons__item .button:hover {
  border-color: #000000;
}

.option-buttons__item .button:focus {
  border-color: #68A2CA;
}

.option-buttons__item .button:active {
  border-color: #000000;
  opacity: 0.7;
}

.option-buttons__item .current-button {
  border-color: #000000;
}

.option-buttons__item:first-child a {
  background: url("../images/sorting/cards.svg") no-repeat 50% 50%;
}

.option-buttons__item:nth-child(2) a {
  background: url("../images/sorting/checkered.svg") no-repeat 50% 50%;
}

.option-buttons__item:last-child a {
  background: url("../images/sorting/list.svg") no-repeat 50% 50%;
}

.hotels-cards {
  padding-bottom: 40px;
  text-align: left;
  border-bottom: 1px solid #E6E6E6;
}

.hotels-cards-list {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(340px, 1fr));
  gap: 20px;
  padding: 0;
  margin: 0 auto;
  list-style: none;
}

.hotels-cards__item {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 20px;
  box-shadow: 0 0 0 1px #e6e6e6;
  box-sizing: border-box;
  border-radius: 4px;
}

.hotel-card-buttons {
  display: grid;
  grid-template-columns: repeat(2, calc((100% - 20px) / 2));
  grid-template-rows: repeat(3, min-content);
  gap: 16px 20px;
}

.hotels-cards a {
  text-decoration: none;
}

.hotel-card-link {
  margin-bottom: 16px;
}

.hotel-card-link:focus-visible {
  outline: none;
}

.hotel-card-link:hover .hotel-card-title,
.hotel-card-link:focus-visible .hotel-card-title {
  text-decoration: underline;
  text-decoration-thickness: 2px;
}

.hotel-card-link:active .hotel-card-title {
  opacity: 0.5;
}

.hotel-card-image {
  display: block;
  width: 100%;
  height: auto;
  margin-bottom: 16px;
  object-fit: cover;
}

.hotel-card-title {
  display: inline-block;
  margin: 0;
  font-size: 24px;
  font-weight: 700;
  line-height: 28px;
  color: #000000;
}

.hotel-card-info {
  font-size: 18px;
  line-height: 21px;
}

.hotel-card-price {
  text-align: right;
}

.hotels-cards__item .card-button,
.hotels-cards__item .cardButton {
  display: inline-block;
  padding-top: 8px;
  padding-bottom: 8px;
  font-size: 16px;
  line-height: 20px;
  text-align: center;
  border: none;
  font-family: "PT Sans", Arial, sans-serif;
}

.hotels-cards__item .card-button:active {
  outline: 3px solid lightblue;
  outline-offset: -3px;
}

.card-favorites-selected-button {
  cursor: pointer;
  font-size: 16px;
  font-weight: 700;
  line-height: 20px;
  color: #ffffff;
  background-color: #7DB54F;
  text-transform: uppercase;
  border-radius: 4px;
  transition: background-color 0.3s;
}

.card-favorites-selected-button:hover:not(:disabled),
.card-favorites-selected-button:focus-visible {
  background-color: #6C9E42;
  outline: none;
}

.card-favorites-selected-button:active:not(:disabled) {
  color: rgba(255, 255, 255, 0.3);
}

.card-favorites-selected-button:disabled {
  cursor: default;
  opacity: 0.4;
}

.hotels-cards__item .card-rating-button {
  font-weight: 400;
  color: #333333;
  background-color: #F2F2F2;
  text-transform: uppercase;
  border-radius: 4px;
}

.card-stars-row {
  display: flex;
  width: 140px;
  padding: 8px 0;
  list-style: none;
}

.card-star {
  width: 18px;
  height: 17px;
  background: url("../images/star.svg") no-repeat 50% 50%;
}

.card-stars-row .card-star:not(:last-child) {
  margin-right: 6px;
}

.pagination {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  list-style: none;
  padding: 0;
  margin: 0;
  margin-top: 39px;
}

.pagination a {
  display: inline-block;
  width: 60px;
  height: 60px;
  text-align: center;
  padding-top: 11.36px;
  font-size: 20px;
  line-height: 36px;
  color: #ffffff;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

.pagination .pagination__item:not(:last-child) {
  margin-right: 8px;
}

.pagination-current a {
  color: #000000;
  background-color: #F2F2F2;
}

.pagination-ellipsis a {
  color: #000000;
  background-color: transparent;
}
